.title-row{
    display: flex; 
    justify-content: space-between; 
    padding-top: 82px; 
}

.table-row{
    display: flex; 
    justify-content: space-between; 
    margin-left: 48px; 
    margin-top: 51px; 
    margin-right: -150px;
}

#title{
    //position: absolute;
    width: 88px;
    height: 37px;
    margin-left: 48px;
    //top: 82px;
    
   font-family: overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    /* identical to box height */
    
    color: #000000;
}


#btn-create{
   // position: absolute;
    width: 190px;
    height: 42px;
    //left: 914.5px;
    //top: 79px;
    
    background:  #2D5697;
    border-radius: 5px;
    border: none;
    margin-right: -150px;

    //position: absolute;
    //width: 142px;
    //height: 28px;
   // left: 1245px;
   // top: 86px;
    
  font-family: overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height */
    
    color: #FFFFFF;
}

.sub-title{
   font-family: overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    height: 21px;
    
    color: #000000;
}

.line-height{
    line-height: 3;
   font-family: overpass;
}

#sub-table{
    position: absolute;
    //width: 100%;
    width: 1050px;
    left: 48px;
    top: 170px;
    //background-color: red;
}

.table{
   font-family: overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    height: 21px;
    
    
    color: #000000;
}

#inner-btn1{
    //position: absolute;
    width: 30px;
    height: 30px;
    //left: 920px;
    //top: 220px;
    //margin-top: 20px;
   
    
    margin-right: 20px;
   // background: #EC5954;
    background: transparent;
    border: 1px solid #A6A4A4;
    border-radius: 5px;
    //border: none;
}

#inner-btn2{
    //position: absolute;
    width: 30px;
    height: 30px;
    //left: 965px;
    //top: 220px;
    margin-right: 20px;
    background: transparent;
    border: 1px solid #A6A4A4;
   // background: #EC5954;
    border-radius: 5px;
    //border: none;
}

.modal .show{
    display: block;
}

#btn-delete{
    position: absolute;
    width: 141px;
    height: 52px;
    //left: 285px;
    //top: 379px;
   font-family: overpass;

    background:  #DC4A4A;
    border-radius: 10px;
}

#btn-close{
    position: flex;
    width: 141px;
    height: 52px;
    //left: 693px;
    //top: 379px;
    font-family: overpass;
    border: 1px solid #000000;
    border-radius: 10px;
}

#trash{
    position: absolute;
    left: 5%;
    //right: 20.83%;
    top: 9.5%;
    //bottom: 12.5%;
}

#modal-title{
    position: flex;
    //width: 149px;
    height: 29px;
    //left: 285px;
    //top: 184px;
    
    font-family: overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    color: #000000;
}

#txtpara{
    position: absolute;
    width: 549px;
    height: 34px;
    //left: 285px;
    //top: 223px;
   font-family: overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    
    color: #000000;
    
}







